.App {
    border: 2px solid #363636;

    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 700px;

    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.page-container {
    display: flex;
    flex-direction: column;
}

.simulator {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 35px;
}

/* ---------------- ПРОСТЫЕ HTML ЭЛЕМЕНТЫ ---------------- /*/
input, select {
    padding: 10px;
    border: 2px solid #8a8989;
    font-size: 16px;
    outline: none;
}

select {
    padding-left: 6px;
}

input:hover, select:hover,
input:focus, select:focus {
    border-color: #555;
}

button {
    font-size: 15px;
    cursor: pointer;
}